body{
	box-sizing: border-box;
	font-family:sans-serif;
}
a{
	text-decoration: none;
}
.header{
   background: url(../img/header/bg.jpg);
   height: 110vh;
}
.top{
	color: white;
	display: flex;
	justify-content: space-around;
	height: 132px;
}
.logo{
	color: white;
	display: flex;
	flex-direction: row;
    padding: 15px;
}
.logo-text{
	margin-left: 10px;
}
.logo-text span{
	font-weight: bold;
}
.button{
	margin: 22px;
}
.button a{
	border: 1px solid white;
	padding: 10px 15px;
	text-decoration: none;
	color: white;
	margin-right: 10px;
}
.button span{
	font-weight: bold;
}


main{
	margin-top: 40px;
}
.header-title h1{
  font-size: 32px;
  font-family: "P22UndergroundCYPro";
  color: rgb(255, 255, 51);
  text-transform: uppercase;
  line-height: 1.216;
  text-align: center;
}
.header-main{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.features{
   color: white;
   font-size: 1.1rem;
   margin-top: 140px;
  margin-right: 20px;
}
.header-form{
	background-color: white;
	width: 420px;
	height: 330px;
	text-align: center;
}
.header-title{
	font-size: 18px;
	margin-top: 8px;
}
.form{
	height: 54px;
    width: 200px;
}
.header-form img{
    width: 54px;
}
.btn-warning{
	font-size: 18px;
	background-color: rgb(255, 255, 51) ;
	width: 254px;
}

.coolwork{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img-main{
	background: url(../img/main/circle.svg);
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
    margin-bottom: 10px;
}
.block{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	margin-top: 30px;
	margin-bottom: 30px;
}


.main-footer{
	background-color: #F8F8FF;
	height: 500px;
	width: 100vw;
	padding-top: 50px;
}    
.numbers{
	    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.number{
	color: rgb(255, 255, 51);
	font-size: 5rem;
}







@media screen and (max-width: 768px) {
	.header{
   background: url(../img/header/bg.jpg);
   height: 150vh;
}
	.top{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
	.header-main{
	display: flex;
	align-items: center;
	flex-direction: column;
    }
     h1{
    	font-size: 15px;
    }
    .header-main{
    	margin-top: 0;
    	padding-top: 0;
    }
    .features{
    	margin-top: 0;
    	padding-top: 0;
    }
    .block{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;

    }
}
